root = true

[*]

[*.cs]

# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/
# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = error

# # Empty switch block
# dotnet_diagnostic.CS1522.severity = error

# JetBrains Rider custom properties for code inspections
# https://www.jetbrains.com/help/resharper/Reference_Code_Inspection_Index.html

resharper_switch_statement_handles_some_known_enum_values_with_default_highlighting=error